@model NoviaReport.Models.DAL_IDAL.DalUser
@{
    Layout = null;
    ViewBag.Title = "Accueil";
}


<p><a href="/home/seeUsers">Consulter la liste des employés</a></p>
<br />
<p><a href="/user/createuser">Ajouter un nouvel utilisateur</a></p>
<br />
<p><a href="/user/updateuser/1">Modif user 1 (admin, pas de manager)</a></p>

