@model NoviaReport.Models.DAL_IDAL.DalUser
@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}


<p><a href="/home/seeUsers">Consulter la liste des employés</a></p>
<p><a href="/user/createuser">Ajouter un nouvel utilisateur</a></p>

