@model NoviaReport.Models.DalProfile
@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}


<p><a href="/home/seeProfiles">Consulter la liste des employés</a></p>
<p><a href="/user/createuser">Ajouter un nouvel utilisateur</a></p>

