@model NoviaReport.Models.DalProfile
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfileList</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Modifier</th>
        </tr>
        @foreach (NoviaReport.Models.Profile profile in ViewData["ProfileList"] as List<NoviaReport.Models.Profile>)
        {
            <tr>
                <td>@profile.Firstname</td>
                <td>@profile.Lastname</td>
                <td><a href="/Profile/UpdateProfile/@profile.Id">Modifier</a></td>
            </tr>
        }
    </table>
    <a href="/Profile/CreateProfile">Ajouter un nouveau profil</a>
</body>
</html>
