

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagerDashboard</title>
</head>
<body>
    @*Permet à un utilisateur qui a plusieurs roles de changer de Dashboard*@
    @foreach (NoviaReport.Models.Role role in ViewData["UserRolesList"] as List<NoviaReport.Models.Role>)
    {
        if (role.TypeRole == NoviaReport.Models.TypeRole.SALARIE)
        {
            <a href="/Dashboard/DashboardSalarie/@User.Identity.Name">Aller sur la vue Salarié</a>
        }
        else if (role.TypeRole == NoviaReport.Models.TypeRole.ADMIN)
        {
            <a href="/Dashboard/DashboardAdmin">Aller sur la vue Admin</a>
        }
    }
    <table border="1">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Voir ses CRAs</th>
        </tr>
        @foreach (NoviaReport.Models.User user in ViewData["EmployeesList"] as List<NoviaReport.Models.User>)
        {
            <tr>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td><a href="/User/GetUserCras/@user.Id">Modifier</a></td>
            </tr>
        }
    </table>

</body>
</html>


