@model List<NoviaReport.Models.Activity>
@{
    Layout = null;
}
@*A actualiser*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Halfday</th>
            <th>Type activité</th>
            <th>Modifier</th>
        </tr>
        @foreach (NoviaReport.Models.Activity activity in ViewData["ActivityList"] as List<NoviaReport.Models.Activity>)
        {
            <tr>
                <td>@activity.Date</td>
                <td>@activity.Halfday</td>
                <td>@activity.TypeActivity</td>
            </tr>
        }
    </table>
    
</body>
</html>