@model NoviaReport.Models.CRA
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajouter un CRA</title>
</head>
<body>

    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Ajouter un CRA : </legend>
            @Html.LabelFor(m => Model.Date)
            @Html.TextBoxFor(m=>Model.Date,"{0:yyyy-MM-dd}" ,new{@type="date"})
            <br />

            @Html.LabelFor(m => Model.State)
            <select id="State" name="State">
                <option value="">Etat du CRA</option>
                @foreach (var item in Enum.GetValues(typeof(NoviaReport.Models.State)))
                {
                    <option value=@item name="State">@item</option>
                }
            </select>
            <br />

            <input type="submit" value="Ajouter" />
        </fieldset>
        <a href="/CRA/CreateCRA"></a>
    }

</body>
</html>