@model NoviaReport.ViewModels.UserViewModel

@{
    Layout = null;
}
<link rel="stylesheet" href="/css/StyleEspaceLogin.css" />
    <body>

        <div class="center">
            <img src="./../Images/4.png" alt="texte alternatif" />
            <form method="post" action="/Login/ForgetPassword">
                <div class="txt_field">
                    @Html.TextBoxFor(m => m.User.Login)
                    <span></span>
                    @Html.LabelFor(m => m.User.Login)
                    @Html.ValidationMessageFor(m => m.User.Login)
                </div>
                <input type="submit" value="Reinitialiser mon mot de passe" />
            </form>
        </div>
    </body>